<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="info.getbus.servebus.model.security.User" alias="User"/>
        <typeAlias type="info.getbus.servebus.model.route.CompactRoute" alias="CompactRoute"/>
        <typeAlias type="info.getbus.servebus.model.route.Route" alias="Route"/>
        <typeAlias type="info.getbus.servebus.model.route.RoutePoint" alias="RoutePoint"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.LocalTimeTypeHandler" />
    </typeHandlers>

    <objectFactory type="info.getbus.mybatis.reflection.factory.MapBasedObjectFactory" />

</configuration>