<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="info.getbus.servebus.model.security.User" alias="User"/>
        <typeAlias type="info.getbus.servebus.model.user.Profile" alias="UserProfile"/>
        <typeAlias type="info.getbus.servebus.model.route.CompactRoute" alias="CompactRoute"/>
        <typeAlias type="info.getbus.servebus.model.route.Route" alias="Route"/>
        <typeAlias type="info.getbus.servebus.model.route.RoutePoint" alias="RoutePoint"/>

        <typeAlias type="info.getbus.servebus.model.periodicity.Periodicity" alias="Periodicity"/>
        <typeAlias type="info.getbus.servebus.model.route.RoutePartId" alias="RoutePartId"/>
        <typeAlias type="info.getbus.servebus.model.route.RoutePeriodicity" alias="RoutePeriodicity"/>
        <typeAlias type="info.getbus.servebus.model.route.PeriodicityPair" alias="PeriodicityPair"/>
    </typeAliases>

    <typeHandlers>
            <typeHandler handler="info.getbus.mybatis.type.ZoneIdTypeHandler"/>
    </typeHandlers>

    <objectFactory type="info.getbus.mybatis.reflection.factory.MapBasedObjectFactory" />

</configuration>